
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header, footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 0;
}

.logo {
    font-weight: bold;
}

.navbar, .footer {
    margin: 0 10px;
}



.container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}

.left {
    margin-right: 10px;
}

.right {
    margin-left: 10px;
}